---
title: Projects
image_view: true
feature_img: /images/LCP.png
---
<h1>Projects</h1>

{% if page.image_view %}
	<h2>{{ The Least Cost Path Plugin for QGIS }}</h2>
		<div class="recipes">
			<div class="recipe" style="background-image: url('{{ site.baseurl }}{{page.feature_img}}')">
					<a href="https://github.com/ClaireXing/LeastCostPath"><span>{{ The algorithm finding the least cost path with given cost raster and points. }}</span></a>
			</div>
		</div>
{% endif %}

<!-- {% if page.image_view %}
	{% for category in site.project_categories %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				<div class="recipe" style="background-image: url('{   { recipe.featured_image }}')">
					<a href="{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %} -->